header {
  @apply flex items-center h-[60px] md:h-[85px] w-full bg-background sticky z-[10] bg-slate-800 top-0 text-white;
}

.header-modal {
  @apply absolute z-[30] bg-background/90 text-foreground w-4/5 h-screen right-0 top-0 border rounded-md border-foreground p-4 flex flex-col gap-5;
}

.current-menu {
  @apply border-red-300 text-red-300;
}

.menu-in {
  animation: menuIn 0.5s ease both;
}

@keyframes menuIn {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}