.animation-in {
  animation: animationIn 0.5s ease 0.15s
}

@keyframes animationIn {
  from {
    transform: translateY(10px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}